<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nanoprofiler" type="EF.Diagnostics.Profiling.Configuration.NanoProfilerConfigurationSection, NanoProfiler" />
  </configSections>
  <nanoprofiler>
    <filters>
      <!--if you want to disable profiling globally-->
      <!--<add key="disable" />-->
    </filters>
  </nanoprofiler>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies />
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=localhost;port=3306;Initial Catalog=world;User Id=root;password=admin" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NanoProfiler" publicKeyToken="132fc11abeaff685" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.2" newVersion="2.0.6.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>